<div class="container about-page text-center">
    <h1>AngularJS Newsletter Subscription</h1>
    <p class="lead">This demo app demonstrates the power of AngularJS for a simple newsletter subscription task. For the purpose of this demonstration MailChimp API is being used.</p>
    <p>For the API documentation for subscription click on the button below</p>
    <p><a class="btn btn-dark btn-lg" href="https://apidocs.mailchimp.com/api/2.0/lists/subscribe.php" role="button">API Documentation</a></p>
</div>